/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c /cbio/users/mamana/chipfreqs/conf/ilifu.config run /cbio/users/mamana/chipfreqs/main.nf -profile singularity
 */

params {
    config_profile_name = 'exome_aibst'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    // Limit resources so that this can run on Travis
    max_cpus        = 20
    max_memory      = 150.GB
    max_time        = 72.h
    outdir          = '/cbio/users/mamana/exome_aibst/results/freqs'
    scratchDir      = "/data/projects/cbio"
    out_prefix      = "AIBST_v0-0-1"
    // Input data
    datasets = [
            ['AIBST', '/cbio/users/mamana/exome_aibst/data/AIBST/VCF/CHRS/aibst_all_samples_chrm*_clean_snpeff_dbsnp.annot.vcf.gz'],
    ]
    POPS = ['ALL']
    // Use ALL or '' to use all available chromosome in the target dataset
    chromosomes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
    // chromosomes = [21,22]
    mafs_annotations = "/cbio/users/mamana/exome_aibst/ILIFU/maf_datasets.csv"
    dbsnp_vcf = "/cbio/users/mamana/reference/dbSNP/b151/b38/All_20180418.vcf.gz"

    // database for snpEff
    snpEff_database         = "/cbio/users/mamana/reference/snpEff_database"
    snpEff_human_db         = "GRCh38.86"
    // snpEff_human_db         = "GRCh37.75"

    chunk_size = 10000000
    update_rsid = true
    params.effect_annot = false
}

process {
    // Process-specific resource requirements
    withLabel: 'medium' {
      errorStrategy = 'retry'
      cpus = 2
      memory = 6.GB
    
    }
    withLabel : 'bigmem' {
      errorStrategy = 'retry'
      cpus          = 2
      memory        = { 50.GB * task.attempt }
      time          = { 5.h * task.attempt }
    }

    withLabel : 'largemem' {
      errorStrategy = 'retry'
      cpus          = 2
      memory        = { 100.GB * task.attempt }
      time          = { 72.h * task.attempt }
    }
}

profile{
    singularity{
      singularity.runOptions = " -B ${params.scratchDir} " // add any paths that need   to be mounted here
    }
}
