/*
 * -------------------------------------------------
 *  Nextflow config file for running tests
 * -------------------------------------------------
 * Defines bundled input files and everything required
 * to run a fast and simple test. Use as follows:
 *   nextflow -c /cbio/users/mamana/chipfreqs/conf/ilifu.config run /cbio/users/mamana/chipfreqs/main.nf -profile singularity
 */

params {
    config_profile_name = 'exome_aibst'
    config_profile_description = 'Minimal test dataset to check pipeline function'
    email = "mamana.mbiyavanga@uct.ac.za"
    plaintext_email = "mamana.mbiyavanga@uct.ac.za"
    // Limit resources so that this can run on Travis
    max_cpus = 2
    max_memory = 6.GB
    max_time = 48.h
    outdir = '/cbio/projects/001/clients/population_allele_freqs/freqs/'
    scratchDir = "/data/projects/cbio"
    // Input data to calculate and extract allele frequency
    datasets = [
      // [
      //   '1KG',
      //   '/cbio/dbs/refpanels/1000G/VCF/1000GP_Phase3/ALL.chr*.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz', 
      //   '/cbio/dbs/refpanels/1000G/VCF/1000GP_Phase3/1000GP_Phase3.sample',
      //   [
      //     ['INFO/AF', 'Alternate allele frequency for 1000 Genomes project GRCh37'],
      //     ['INFO/AC', 'Alternate allele count for 1000 Genomes project GRCh37'],
      //     ['INFO/AN', 'Total number of alleles in 1000 Genomes project GRCh37'],
      //   ],
      // ],
      // [
      //   'AGVD',
      //   '/cbio/users/mamana/exome_aibst/data/AGVP/vcf_banganda_zulu_ethiopia_raw/RAW/banganda_zulu_ethiopia_*.vcf.gz', 
      //   '/cbio/users/mamana/exome_aibst/data/AGVP/banganda_zulu_ethiopia_updated.sample',
      //   [
      //     ['INFO/AF', 'Alternate allele frequency for AGVD GRCh37'],
      //     ['INFO/AC', 'Alternate allele count for AGVD GRCh37'],
      //     ['INFO/AN', 'Total number of alleles for AGVD GRCh37'],
      //   ],
      // ],
      [
        'AIBST', 
        '/cbio/users/mamana/exome_aibst/data/AIBST/VCF/CHRS/aibst_all_samples_chrm*_clean_snpeff_dbsnp.annot.vcf.gz', 
        '/cbio/users/mamana/exome_aibst/data/AIBST/aibst_all_samples.csv',
        [
          ['INFO/AF', 'Alternate allele frequency for AIBST'],
          ['INFO/AC', 'Alternate allele count for AIBST'],
          ['INFO/AN', 'Total number of alleles in AIBST'],
        ],
      ],

    ]
    // Site VCFs to extract allele frequency [name, vcf, tag_to_extract]
    site_datasets = [
        // [
        //   'gnomad_b37', 
        //   '/cbio/users/mamana/reference/gnomAD/b37/genomes/chrms/gnomad.genomes.r2.1.1.sites.*.vcf.bgz', 
        //   [
        //     ['INFO/AF', 'gnomad_b37', 'Alternate allele frequency for samples for gnomAD b37'],
        //     ['INFO/AC', 'gnomad_b37', 'Alternate allele count for samples for gnomAD b37'],
        //     ['INFO/AN', 'gnomad_b37', 'Total number of alleles in samples for gnomAD b37'],
        //     ['INFO/AF_afr', 'afr', 'Alternate allele frequency in samples of African-American/African ancestry for gnomAD b37'],
        //     ['INFO/AC_afr', 'afr', 'Alternate allele count for samples of African-American/African ancestry for gnomAD b37'],
        //     ['INFO/AN_afr', 'afr', 'Total number of alleles in samples of African-American/African ancestry for gnomAD b37'],
        //   ],
        // ],
        // [
        //   '1KG',
        //   '/cbio/dbs/refpanels/1000G/VCF/1000GP_Phase3/ALL.chr*.phase3_shapeit2_mvncall_integrated_v5a.20130502.genotypes.vcf.gz', 
        //   [
        //     ['INFO/AFR_AF', 'afr', 'Alternate allele frequency in samples of African for 1KG'],
        //   ],
        // ],
        [
          'topmed',
          '/cbio/users/mamana/reference/dbSNP/b151/b37/All_20180423.vcf.gz', 
          [
            ['INFO/TOPMED', 'topmed', 'Alternate allele frequency for samples in TOPMED'],
          ]
        ],
    ]
    POPS = ['ALL']
    // POPS = ['EGYPT', 'WEST_AFR:LWK,YRI']
    // Use ALL or '' to use all available chromosome in the target dataset
    chromosomes = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22]
    // chromosomes = [18]

    chunk_size = 10000000

}

process {
    // Process-specific resource requirements
   withLabel: 'medium' {
      // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
      cpus = 2
      memory = 6.GB
      time = { 5.h * task.attempt }
    }
    withLabel : 'bigmem' {
      // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
      cpus = 2
      memory = 30.GB
      time = { 72.h * task.attempt }
    }

    withLabel : 'largemem' {
      // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
      cpus = 2
      memory = 50.GB
      time = { 72.h * task.attempt }
    }

    withLabel : 'hugemem' {
      // errorStrategy = { task.exitStatus in [143, 137, 255] ? 'retry' : 'ignore' }
      cpus = 2
      memory = 100.GB
      time = { 72.h * task.attempt }
    }
}

profile{
    singularity{
      singularity.runOptions = " -B ${params.scratchDir} " // add any paths that need   to be mounted here
    }
}
